@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Nunito", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
hr {
  height: 0.63px;
  background: #20404f;
  transform: rotate(-0.08deg);
  margin: 0;
}
.about_us_container {
  width: 95%;
  max-width: 500px;
  padding: 0px 21px;
  margin: auto;
}
.cus_breadcrumb {
  font-weight: 400;
  font-size: 10px;
  line-height: 19px;
  color: rgba(32, 64, 79, 0.8);
}
.about_sub_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;

  color: #20404f;
}
.about_title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}
.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.highlight {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #20404f;
}
.context-information {
  padding-top: 20px;
}
.link-http {
  color: darkolivegreen;
}
.my-2 {
  max-width: 500px;
  margin: auto;
}
.contact-input-data > input {
  width: 100%;
  border-radius: 5px;
  padding: 0 8px;
  height: 26px;
}
.contact-input-data > textarea {
  width: 100%;
  border-radius: 5px;
  padding: 0 8px;
  height: 87px;
}
.contact-input-label {
  /* font-family: Nunito; */
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #20404f;
  padding: 8px;
}
.contact-input-data > button {
  font-size: 16px;
  font-weight: 583;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  background: #20404f;
  border-radius: 5px;
  color: #e9dfd3;
  padding: 8px;
  margin: 20px 0;
}
